* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    scroll-behavior: smooth; 
}

body {
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-size: 22px;
    font-weight: 400;
    color: #22242E;
}

.container {
    max-width: 1440px;
    margin: 0 auto;
}

.header {
    display: flex;
    align-items: center;
}
.header .column-left{
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
}
.column-left {
    width: 20%;
}
.column-rihgt {
    width: 80%;
}
.header__user-pic {
    width: 288px;
}
.nav {
    position: relative;
    z-index: 1;
    background-color: #EBEBEB;
}
.nav__list {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    list-style: none;
}
.nav__link {
    padding: 15px 20px;
    line-height: 70px;
    text-decoration: none;
    font-size: 1em;
    font-weight: 700;
    color: #22242E;
    -webkit-transition: 0.5s;
    -moz--transition: 0.5s;
    transition: 0.5s;
}
.nav__link:hover, 
.nav__link:focus {
    background-color: #DE8E15;
}
.header__title {
    position: relative;
    z-index: 1;
    margin: 50px 30px 10px;
    font-size: 3em;
    font-weight: 700;
}
.header__note {
    margin: 0 30px;
    font-size: 1.2em;
    font-weight: 400;
}

.main {
    display: flex;
}
.main .column-left {
    padding: 20px 25px;
    color: #EBEBEB;
    background-color: #22242E;
}
.main .column-rihgt {
    padding: 20px 35px 30px;
}
.main__title {
    margin: 40px 0 20px;
    font-size: 1.8em;
    border-bottom: 1px solid;
}
.main__title-small {
    margin: 20px 0 10px;
    font-size: 1.4em;

}
.main .column-left .main__title {
    font-weight: 400;
}
.main__list {
    list-style: none;
}
.main__list li {
    margin-bottom: 15px;
}
.item-icon {
    display: flex;
    align-items: center;
    font-size: 0.9em;
}
.item-icon__img-size {
    width: 32px;
    margin-right: 5px;
}
:root {
    --mainLinkColor: #DE8E15;
}
.main__link {
    text-decoration: none;
    background: linear-gradient(to bottom, var(--mainLinkColor) 0%, var(--mainLinkColor) 100%);
    background-position: 0 100%;
    background-repeat: repeat-x;
    background-size: 1px 1px;
    -webkit-transition: background-size .3s;
    -moz--transition: background-size .3s;
    transition: background-size .3s;
}
.main__link:hover {
    background-size: 4px 50px;
}
.main .column-left .main__link {
    color: #EBEBEB;
}
.main .column-rihgt .main__link {
    color: #22242E;
}

.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px;
    font-size: 1em;
    font-weight: 700;
    color: #000000;
    background-color: #EBEBEB;
}
.footer__my-githab {
    display: flex;
    align-items: center;
    color: #000000;
    text-decoration: none;
}
.footer__my-githab:hover {
    color:#6E6E6E;
}
.footer__my-githab__logo {
    width: 40px;
    margin-right: 10px;
}
.footer__rsschool__logo {
    width: 100px;
}

@media screen and (max-width:1460px) {
    .column-left {
        width: 23%;
    }
    .column-rihgt {
        width: 77%;
    }
    .header__user-pic {
        width: 330px;
    }
}
@media screen and (max-width:1220px) {
    body {
        font-size: 18px;
    }
    .header__user-pic {
        width: 288px;
    }
}
@media screen and (max-width:1080px) {
    body {
        font-size: 16px;
    }
}
@media screen and (max-width:950px) {
    .header {
        flex-direction: column-reverse;
    }
    .main {
        flex-direction: column;
    }
    .column-left, 
    .column-rihgt {
        width: 100%;
    }
    .header .column-left {
        margin-top: -200px;
    }
    .main .column-left {
        margin-top: -100px;
    }
    .item-icon {
        font-size: 1.3em;
    }
}
@media screen and (max-width:767px) {
    .nav__list {
        flex-direction: column;

    }
    .nav__link {
        line-height: 30px;
        padding: 5px;
    }
    .header .column-left {
        margin-top: -80px;
    }
    .header__title {
        margin: 20px 20px 0px;
    }
}
@media screen and (max-width:500px) {
    .main__code {
        font-size: 12px;
    }
}